//overrides
$theme-colors: (
  "danger": rgb(201, 26, 0),
  "dark": rgb(64, 64, 64),
);

.col {
  padding: 0px !important;
}

.form-control:focus {
  border-color: #ff0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

//helpers
.clippath {
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}

.clippath1{
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}

.margin-top-lg {
  margin-top: -5rem;
}

.padding-y-lg {
  padding: 5rem 0 5rem 0;
}

.padding-x-md {
  padding: 0 2rem;
}

.background-1 {
  background-color: lightblue;
}

.background-2 {
  background-color: lightgrey;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//navbar
.btn_link {
  padding: 0 3px;

  img {
    height: 40px;
  }
}

//Home
.tricard {
  &_title {
    color: #c91a00;
  }
  &_img {
    height: 50px;
    margin-top: 10px;
  }
}

.home_img {
  width: 100%;
}

//Info Component
.info {
  &_image {

    img {
      width: 75%;
      display: block;
      margin: 0 auto;
    }

  }

  &_text {

  }
}

//login
.login {
  &_img {
    width: 100%;
  }
}

//Cart
.cart {
  text-align: center;

  &__total {
    text-align: right;
  }
}

//Footer
.footer {
  background-color: #808080;
  width: 100%;

  &_p {
    margin-bottom: 0;
  }
}

@import "~bootstrap/scss/bootstrap.scss";
