//overrides
$theme-colors: (
  "danger": rgb(201, 26, 0),
  "dark": rgb(64, 64, 64),
);

.col {
  padding: 0px !important;
}

.form-control:focus {
  border-color: #ff0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

//navbar
.btn_link {
  padding: 0 3px;

  img {
    height: 40px;
  }
}

//Home
.tricard {
  &_title {
    color: #c91a00;
  }
  &_img {
    height: 50px;
    margin-top: 10px;
  }
}

.home_img {
  width: 100%;
}

//login
.login {
  &_img {
    width: 100%;
  }
}

//Footer
.footer {
  background-color: #808080;
  width: 100%;

  &_p {
    margin-bottom: 0;
  }
}

@import "~bootstrap/scss/bootstrap.scss";
